@import url('https://fonts.googleapis.com/css?family=Oswald');

body {
  font-family: 'Oswald', sans-serif;
  margin: 0;
  color: #fff;
}

.Header {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: url('/bg.png') center;
  flex-direction: column;
  text-align: center
}
.logo {
  width: 300px;
  height: 100px;
  object-fit: cover;
}
.title, .subtitle {
  color: #fff;
  padding: 0px 20px;
}
.title {
  font-size: 30px;
  text-transform: uppercase;
}
.subtitle {
  font-size: 20px;
  text-transform: uppercase;
  max-width: 800px;
  margin: 20px 0;
}
.Projects {
  background: #444b6a;
  text-align: center;
  padding: 80px 30px 120px;
}
.text {
  text-transform: uppercase;
  font-size: 24px;
}
.projects-container {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.item-project {
  border: 1px solid #fff;
  padding: 20px;
  width: 300px;
  flex-grow: 1;
  margin: 10px;
}
.firstP {
  text-transform: uppercase;
}
.ButtonContainer {
  padding: 30px;
  text-align: center;
}
.button {
  background: #6e8193;
  border:none;
  padding: 12px 30px;
  color: #fff;
  cursor: pointer;
}
.MisionContainer {
  background: #444b6a;
  padding: 50px 30px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
}
.MisionColBig {
  grid-column-start: 3;
  grid-column-end: 5;
}
.line-white {
  width: 35px;
  height: 3px;
  margin: 15px 0px;
  background: #fff;
}
.FooterContainer {
  background: #232938;
  color: #fff;
  padding: 20px 15px;
  text-align: center;
}
.ModalBg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,.4)
}
.mapHeader {
  height: 44px;
  background: #5e7285;
}
.Modal {
  max-width: 768px;
  width: 100%;
  margin: 0 auto;
  position: fixed;
  left: 0;
  right: 0;
  height: 300px;
  top: 100px;
  background:  white;
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
}

.visits {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 12px;
}

.Modal-close {
  font-size: 18px!important;
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  display: inline-block;
  padding: 10px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
}

.Modal-close:after {
  content: "x";
}
@media(min-width:991px) {
  .button:hover {
    background: #5e7285;
  }
}
@media(max-width:767px) {
  .MisionColBig, .MisionCol {
    grid-column-start: 1;
    grid-column-end: 5;
  }
}